header h1 a {
  font-family: 'Taviraj', serif;
  color: black;
}

header h1 a {
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

header {
  margin-bottom: 30px;
}

body {
  margin: 50px;
}

.book-img {
  width: 100px;
  padding: 10px;
}

.book-info {

}
